build*/
winbuild
win64build
.vs/

## kdevelop
*.kdev4

## qt-creator
CMakeLists.txt.user*

# Binaries Folders
**/bin/
**/bin-int/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Visual Studio Files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Codelite files
Makefile
.build-debug/
.build-release/
.build-dist/
.codelite/
**.workspace
**.mk
**.project
**.txt

# MacOSX Files
**.command
**.sh

# Xcode Files
**.xcworkspace
**.xcworkspacedata
**.xcodeproj
**.pbxproj
**.DS_Store
